.AppSidebar {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  background-color: #000a14;
}

.AppSidebar .iconBtn {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.AppSidebar .icon {
  height: 1.5em;
}

.AppSidebar .profileNavImg {
  border-radius: 50px;
}

.pollFormModal {
  width: 500px;
}
