.AppSidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.AppSidebar .iconBtn {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.AppSidebar .icon {
  height: 30px;
}

.AppSidebar .profileNavImg {
  border: 1px solid #222;
  border-radius: 50px;
}

.pollFormModal {
  width: 500px;
}
