.AppSidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.AppSidebar .iconBtn {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.AppSidebar .icon {
  height: 30px;
}