.Home {
  width: 100%;
}

.Home.M {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Home.M .trending {
  width: 40%;
}

.Home.M .content {
  height: 85vh;
  overflow-y: auto;
}

.Home.M .sectionLabel {
  margin-left: 10px;
  color: gray;
}

.Home.M .recent,.popular {
  width: 30%;
}

.Home.M .pollCard {
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
