.IconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.IconButton label {
  margin-left: 10px;
}

.IconButton .icon {
  margin: 0 auto;
}

.IconButton label:hover {
  cursor: pointer;
}

.IconButton:hover {
  cursor: pointer;
}