.signup-page{
  position: relative;
}
.signup-page-content{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
.webapp-label{
  font-size: 10vh;
}
.webapp-ep-input{
  height: 5vh;
  width: 300px;
  margin: 5px;
  border: 1px solid lightgrey;
}
.webapp-shortcut-signin-btn{
  height: 5vh;
  width: 140px;
  margin: 10px;
}