.PollHeader{
  display: flex;
  flex-direction: column;
  font-size: small;
}

.PollHeader .pollTitle {
  font-size: x-large;
  margin-bottom: 10px;
  color: #1c2b39;
}

.PollHeader .pollDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PollHeader .row{
  margin-bottom: 5px;
}

.PollHeader .addItemBtnIcon {
  width: 20px;
}

.PollHeader .addItemBtn {
  border: 1px solid transparent;
}

.PollHeader .addItemBtn:hover{
  border: 1px solid lightgray;
}
