.modal-container{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 10px lightgrey;
  background-color: white;
}
.modal-content{
  margin: 20px;
  margin-top: 25px;
  position: relative;
}
.modal-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: lightgrey;
  background-color: transparent;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.modal-close-btn:hover{
  color: red;
}