.text-item{
  margin-bottom: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 0 2px lightgrey !important;
  border-bottom: 1px solid lightgrey;
}
@media (max-width: 799px) {
  .text-item-resp{
    font-size: small !important;
  }
}
.text-item-serial{
  margin-right: 20px;
}
.avatar-first-item{
  border-radius: 0 !important;
  border: none !important;
  width: 100px !important;
  height: 100px !important;
}
@media (max-width: 799px) {
  .avatar-first-item-resp{
    width: 70px !important;
    height: 70px !important;
  }
}
.vote-btn-portrait{
  margin-left: 50% !important;
}