.PollPage {
  display: block;
}

.PollPage main {
  display: flex;
  flex-direction: row;
}

.PollPage main .itemsPanel{
  width: 65%;
  margin-top: 30px;
}

.PollPage main .rightPanel {
  flex-grow: 1;
  margin: 2em;
}
