.ProfilePage {
  display: flex;
  flex-direction: row;
}

.ProfilePage .leftSect {
  width: 20em;
  padding: 1em;
}

.ProfilePage .rightSect {
  flex-grow: 1;
  padding: 1em;
}

.ProfilePage .profileSummary {
}
