.PollCard {
  border: 1px solid lightgray;
  border-left: 2px solid #f6546a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.PollCard .title{
  padding: 0;
  font-size: medium;
  margin-bottom: 15px;
}

.PollCard .subtitle{
  margin-bottom: 10px;
  font-size: small;
  color: gray;
}
