.ProgBar{
  position: relative;
  background-color: white;
  border: 1px solid lightgray;
  overflow: hidden;
}

.ProgBar .inner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #198cff, #004c99);;
}
