.TextMajorItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.TextMajorItem .data {
  margin: 5px;
  margin-right: 1.5em;
}

.TextMajorItem .progBar {
  width: 16em;
  height: 0.6em;
  border-radius: 10px;
}

.TextMajorItem .itemText {
  flex-grow: 1;
}

.TextMajorItem .avatarImg {
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  border: 1px solid #222;
}
