.TextMajorItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.TextMajorItem .firstMedal {
  max-width: 3em;
}

.TextMajorItem .data {
  margin: 5px;
  margin-right: 15px;
  min-width: 3em;
}

.TextMajorItem .progBar {
  width: 280px;
  height: 0.6em;
  border-radius: 10px;
}

.TextMajorItem .itemText {
  flex-grow: 1;
}

.TextMajorItem .avatarImg {
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  border: 1px solid #222;
}

.TextMajorItem .displayVotersBtn{
  border: none;
  border-bottom: 2px solid lightgray;
  background-color: transparent;
}

.FirstTextItem {
  font-weight: bold;
}
