.TextMajorItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.TextMajorItem .firstMedal {
  max-width: 3em;
}

.TextMajorItem > * {
  margin: 5px;
  margin-right: 15px;
  min-width: 3em;
}

.TextMajorItem .progBar {
  width: 280px;
  height: 0.6em;
  border-radius: 10px;
}

.TextMajorItem .itemText {
  flex-grow: 1;
}

.TextMajorItem .avatarImg {
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  border: 1px solid #222;
}

.TextMajorItem .displayVotersBtn{
  border: none;
  background-color: transparent;
}

.TextMajorItem .mobileItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.TextMajorItem .mobileItemWithImg .info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TextMajorItem .mobileItemWithImg .info > * {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.TextMajorItem .mobileItemOnlyText {
  margin: 0;
  padding: 0;
}

.TextMajorItem .mobileItemOnlyText .row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TextMajorItem .mobileItemOnlyText .row > * {
  margin: 5px;
}
