.ImageCaptionItem {
  border: 1px solid lightgray;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  float: left;
  align-items: left;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 50%;
}

.ImageCaptionItem.mobile {
  width: 100%;
}

.ImageCaptionItem .image {
  height: 300px;
}

.ImageCaptionItem .image.mobile {
  max-height: 300px;
  width: 100%;
  height: unset;
}

.ImageCaptionItem .topRow {
  font-size: large;
  padding: 10px;
  display: flex;
  align-items: center;
}

.ImageCaptionItem .topRow .caption {
  flex-grow: 1;
}

.ImageCaptionItem .progBar {
  height: 10px;
  border: none;
}

.ImageCaptionItem .voteLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #222;
  color: white;
  padding: 5px;
}
