.AppHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.AppHeader .appTitle {
  flex-grow: 1;
  padding: 0;
  color: #065535;
}

.AppHeader .authUserBadge {
  border-radius: 100px;
  border: none;
  font-size: small;
  color: #222;
  text-transform: uppercase;
}

.AppHeader .authUserAvatar {
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}
