.AppHeader {
  display: flex;
  flex-direction: row;
}

.AppHeader .appTitle {
  color: #295132;
  flex-grow: 1;
  padding: 0;
  font-weight: bold;
}

.AppHeader .authUserBadge {
  border: 1px solid gray;
  border-radius: 100px;
  font-size: medium;
}

.AppHeader .authUserAvatar {
  height: 1.2em;
  border-radius: 50px;
}
