.LpField {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.LpField input, select {
  height: 30px;
  border: 1px solid gray;
  background-color: white;
}

.LpField label {
  color: #444;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
