.app-content{
  margin: 20px;
}
.app-title{
  text-decoration: none;
  color: inherit;
}
.fl{float: left}
.fr{float: right}
.tac{text-align: center}
.mg5{margin: 5px}
.w100{width: 100%}
.h100{height: 100%}
.hidden-app-bar{
  visibility: hidden;
}