.app-content{
  margin: 20px;
}
@media (max-width: 799px) {
  .app-content-resp{
    margin: 10px !important;
  }
}
.app-title{
  text-decoration: none;
  color: inherit;
  font-size: x-large !important;
  font-family: 'Nova Flat' !important;
}
.fl{float: left}
.fr{float: right}
.tac{text-align: center !important;}
.mg5{margin: 5px}
.w100{width: 100% !important;}
.nomargin{margin: 0 !important;}
.h100{height: 100%}
.hidden-app-bar{
  visibility: hidden;
}
.app-bar{
  box-shadow: none !important;
  border: none !important;
}
@media (min-width: 800px) {
  .app-bar-resp{
    box-shadow: 0px 2px 2px lightgray !important;
  }
}